:root {
  --color: 81.21% 0.1409 165.14;
  --mantle: 10.67% 0 0;
  --base: 0% 0 0;
  --text: 95.92% 0.019253 273.2377;
  --lavender: 62.56% 0.236 299.56;
  --red: 70.55% 0.1899 13.38;
}
* {
  scrollbar-color: oklch(var(--color)) oklch(var(--mantle) / 0.5);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
*::selection {
  background: oklch(var(--color) / 1);
  color: oklch(var(--base));
}
body {
  position: relative;
  background-color: oklch(var(--base));
  color: oklch(var(--text));
  margin: 0 auto;
  max-width: 1100px;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}
a {
  color: oklch(var(--lavender));
  display: inline-block;
  text-decoration: wavy underline;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.9);
}
a:hover {
  transform: scale(1.05) skew(-5deg);
}
p {
  line-height: 1.5;
}
code {
  background-color: #161616;
  border: 1px solid #333;
  color: oklch(var(--lavender));
  padding: 0.2%;
  border-radius: 5px;
}
.header {
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: oklch(var(--text));
  background-color: #2323ff;
  animation: rgbText 3s ease-in-out infinite alternate;
}
.header a {
  color: oklch(var(--color));
}
.header h1 {
  font-size: 10vw;
  padding-top: 3%;
  margin: 0;
}
.header h1::before {
  text-shadow: none;
}
.header small::before,
.header small::after {
  text-shadow: none;
  font-weight: bold;
}
h3 {
  font-family: "Inter", monospace;
  font-size: 50px;
}
h3::before {
  content: "### ";
}
.main {
  height: 100vh;
  margin: 0 3% 3%;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: -1;
  background-color: transparent;
}
.comment-box {
  background-color: #0a0a0a;
  border-left: 5px solid oklch(var(--lavender));
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}
.comment-box ol {
  padding-left: 20px;
}
.comment-box li {
  margin-bottom: 5px;
}
ol,
ul {
  line-height: 2;
}
.red-border {
  border-color: oklch(var(--red));
}
.red-border code {
  color: oklch(var(--red));
}
@for $i from 1 through 6 {
  h#{$i}::before {
    content: str-slice("######", 1, $i) + " ";
    color: oklch(var(--color));
  }
}

ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

ul,
li,
.fli {
  margin-bottom: 0.5rem;
}
ol li::marker,
ul li::before {
  color: oklch(var(--color));
}

ul li::before {
  content: "* ";
  color: oklch(var(--color));
  margin-right: 5px;
}

em,
i {
  &::before {
    content: "*";
    color: oklch(var(--color));
  }

  &::after {
    content: "*";
    color: oklch(var(--color));
  }
}

small {
  &::before {
    content: "<small>";
    color: oklch(var(--color));
  }

  &::after {
    content: "</small>";
    color: oklch(var(--color));
  }
}

hr {
  border: none;
  margin: 1rem 0;
}

hr::after {
  content: "";
  position: relative;
  display: block;
  height: 1px;
  top: -0.5rem;
  left: 30px;
  background: linear-gradient(90deg, oklch(var(--color) / 1), transparent);
}

hr::before {
  content: "---";
  color: oklch(var(--color));
}
.retro-time {
  top: 5px;
  right: 10px;
  position: absolute;
  font-size: large;
}
.commit-details {
  bottom: 10px;
  left: 10px;
  position: absolute;
  font-size: 11px;
}

@media (max-width: 768px) {
  .commit-details {
    display: none;
  }
}

.retro::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(
      oklch(17.55% 0.0033 17.47 / 0) 50%,
      oklch(0% 0 0 / 0.25) 50%
    ),
    linear-gradient(
      90deg,
      oklch(62.8% 0.2577 29.23 / 0.06),
      oklch(86.64% 0.2948 142.5 / 0.02),
      oklch(45.2% 0.3132 264.05 / 0.06)
    );
  z-index: 0;
  background-size:
    100% 5px,
    6px 100%;
  pointer-events: none;
  animation: scan 3s linear infinite;
}
.retro::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: oklch(17.55% 0.0033 17.47 / 0.1);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes scan {
  0% {
    background-position:
      0 0,
      0 0;
  }
  100% {
    background-position:
      0 100%,
      0 0;
  }
}

@keyframes rgbText {
  0% {
    text-shadow:
      -1px 1px 4px rgba(255, 255, 255, 0.4),
      1px -1px 4px rgba(255, 255, 235, 0.5),
      0px 0 1px rgba(251, 0, 231, 0.6),
      0 0px 2px rgba(0, 233, 235, 0.6),
      0px 0 2px rgba(0, 242, 14, 0.6),
      0 0px 2px rgba(244, 45, 0, 0.6),
      0px 0 2px rgba(59, 0, 226, 0.6);
  }
  25% {
    text-shadow:
      -1px 1px 4px rgba(255, 255, 255, 0.4),
      1px -1px 4px rgba(255, 255, 235, 0.5),
      0px 0 1px rgba(251, 0, 231, 0.6),
      0 0px 2px rgba(0, 233, 235, 0.6),
      0px 0 2px rgba(0, 242, 14, 0.6),
      0 0px 2px rgba(244, 45, 0, 0.6),
      0px 0 2px rgba(59, 0, 226, 0.6);
  }
  45% {
    text-shadow:
      -1px 1px 4px rgba(255, 255, 255, 0.4),
      1px -1px 4px rgba(255, 255, 235, 0.5),
      2px 0 1px rgba(251, 0, 231, 0.6),
      0 2px 1px rgba(0, 233, 235, 0.6),
      -2px 0 1px rgba(0, 242, 14, 0.6),
      0 -2px 1px rgba(244, 45, 0, 0.6),
      2px 0 1px rgba(59, 0, 226, 0.6);
  }
  50% {
    text-shadow:
      -1px 1px 4px rgba(255, 255, 255, 0.4),
      1px -1px 4px rgba(255, 255, 235, 0.5),
      -2px 0 1px rgba(251, 0, 231, 0.6),
      0 -2px 1px rgba(0, 233, 235, 0.6),
      2px 0 1px rgba(0, 242, 14, 0.6),
      0 2px 1px rgba(244, 45, 0, 0.6),
      -2px 0 1px rgba(59, 0, 226, 0.6);
  }
  55% {
    text-shadow:
      -1px 1px 4px rgba(255, 255, 255, 0.4),
      1px -1px 4px rgba(255, 255, 235, 0.5),
      0px 0 2px rgba(251, 0, 231, 0.6),
      0 0px 2px rgba(0, 233, 235, 0.6),
      0px 0 2px rgba(0, 242, 14, 0.6),
      0 0px 2px rgba(244, 45, 0, 0.6),
      0px 0 2px rgba(59, 0, 226, 0.6);
  }
  90% {
    text-shadow:
      -1px 1px 4px rgba(255, 255, 255, 0.4),
      1px -1px 4px rgba(255, 255, 235, 0.5),
      -2px 0 1px rgba(251, 0, 231, 0.6),
      0 2px 1px rgba(0, 233, 235, 0.6),
      2px 0 1px rgba(0, 242, 14, 0.6),
      0 -2px 1px rgba(244, 45, 0, 0.6),
      2px 0 1px rgba(59, 0, 226, 0.6);
  }
  100% {
    text-shadow:
      -1px 1px 4px rgba(255, 255, 255, 0.4),
      1px -1px 4px rgba(255, 255, 235, 0.5),
      2px 0 1px rgba(251, 0, 231, 0.6),
      0 -2px 1px rgba(0, 233, 235, 0.6),
      -2px 0 1px rgba(0, 242, 14, 0.6),
      0 2px 1px rgba(244, 45, 0, 0.6),
      -2px 0 1px rgba(59, 0, 226, 0.6);
  }
}
