---
import "../styles/global.scss";
---

<!doctype html>
<html>
  <head>
    <title>ICARUS - ChromeOS Unenrollment Exploit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="ICARUS is an exploit for Chrome devices allowing unenrollment using device management interception."
    />
    <meta property="og:url" content="https://icarus.t3rm1n4l.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ICARUS" />
    <meta
      property="og:description"
      content="ICARUS is an exploit for Chrome devices allowing unenrollment using device management interception."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="icarus.t3rm1n4l.dev" />
    <meta property="twitter:url" content="https://icarus.t3rm1n4l.dev" />
    <meta name="twitter:title" content="ICARUS" />
    <meta
      name="twitter:description"
      content="ICARUS is an exploit for Chrome devices allowing unenrollment using device management interception."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://t3rm1n4l.dev/img/favicon.ico"
      sizes="96x96"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
